.aside{
  min-width: 200px;
  height: min-content;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
}
.navigation{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.link{
  width: 100%;
  padding: 15px;
  color: royalblue;
  text-align: center;
  text-decoration: underline;
  border-bottom: 1px solid #d6d6d6;
}
.link:last-child{
  border-bottom: none;
}